.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  min-height: 0;
}

.site-frame {
  border: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
